{% extends 'base.html' %} {# extends ბლოკი არ იხურება}
{% block title %}{{ product.title }} Details{%endblock%}

{% block content %}
</head>
<body>
    <h2>Products full information</h2>
    <div class="row container">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{% url 'store:product_list' %}">Back to Products</a>
                <p class="card-text">{{ product.price }}</p>
            </div>
        </div>
    </div>





<!--        <li>Price: {{ product.price }}$ </li>-->
<!--        <li>Description: {{ product.description }}</li>-->
<!--        <li>Quantity: {{ product.quantity }} </li>-->
<!--        <li>Stock: {{ product.is_active }} </li>-->



{% endblock %}